# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Reports
reports/
allure-results/
allure-report/

# Logs
logs/*.log

# Screenshots
screenshots/

# Environment
.env

# Screenshots
screenshots/*.png

# OS
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/